.tab-signature {
    min-height: 25vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.geolocalisation-results-button-panel {
    display: flex;
    justify-content: space-around;
    margin: 5px;
}

.addresse-form-panel {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.adresse-form-textfield{
    margin-bottom: 10px;
    width: 100%;
}